+++
title = "Universal Object Reference"
linkTitle = "Universal Object Reference"

+++

{{< blocks/cover title="Universal Object Reference" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/uor-framework/uor-framework">
		UOR on Github <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Go to Docs! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">The programmable object framework</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Universal Object Reference Framework is a special interest group with express intent
of revolutionizing intelligent data structures by establishing domain specific protocols,
implementation criteria, and language to enable data objects and object intelligence to
live in a world where they can be used and interacted with in a more natural and intuitive way.
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-twitter" title="@UorSig on Twitter" %}}
[Talk to us on Twitter](https://twitter.com/UorSig)!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Github Discussions" %}}
[Talk to us on Github](https://github.com/uor-framework/uor-framework/discussions)!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="#uor-framework channel" %}}
[Join our discussion on CNCF Slack!](https://app.slack.com/client/T08PSQ7BQ/C034YMT1P41)
{{% /blocks/feature %}}


{{< blocks/section color="dark" >}}
